# ignore IDE
.vscode/

# ignore build-time artifacts and cache
.ci/apt.list.*
.ci/apt.sources.*
.ci/pip.conf
.ci/npmrc
.ci/yarnrc
artifacts/

# ignore preseed
preseed/apt/
preseed/crt/
preseed/files/
preseed/pkg/
