#!/usr/bin/make -f
SHELL       :=/bin/sh
.SHELLFLAGS :=-ec
MAKEFLAGS   +=--no-print-directory

export DH_VERBOSE := 1

export DEB_BUILD_MAINT_OPTIONS := hardening=+all

include /usr/share/dpkg/default.mk

# try to build with fresh gcc available
gcc_latest =$(strip $(shell apt-cache search 'gcc-' | mawk '/^gcc-[0-9.]+ /{print $$1}' | sort -rV | head -n 1 | cut -d - -f 2))

CC  = $(DEB_HOST_GNU_TYPE)-gcc-$(gcc_latest)
CXX = $(DEB_HOST_GNU_TYPE)-g++-$(gcc_latest)
export CC CXX

.NOTPARALLEL:

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	$(MAKE) all

override_dh_auto_install:
	$(MAKE) install

override_dh_auto_test:

include debian/rules.selftemplate
