Source: container-dpkg-filter
Section: misc
Priority: optional
Maintainer: Konstantin Demin <rockdrilla@gmail.com>
Build-Depends: debhelper-compat (= 13),
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/rockdrilla/debian-container
Vcs-Git: https://github.com/rockdrilla/debian-container.git
Vcs-Browser: https://github.com/rockdrilla/debian-container/tree/main/package/_essential/dpkg-filter

Package: container-dpkg-filter
Architecture: all
Multi-Arch: allowed
Depends: ${misc:Depends},
         container-common-tools,
Description: container - dpkg-filter
 This package contains "after dpkg" file system filter for containers.
 .
 This is more robust solution than "path-include" / "path-exclude"
 stanzas in dpkg configuration.
