#!/usr/bin/make -f

SHELL       :=/bin/sh
.SHELLFLAGS :=-ec

MAKEFLAGS += --no-print-directory

export DH_VERBOSE := 1

include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS := hardening=+all

include debian/rules.common-defs
include debian/rules.pkg-info
include debian/rules.gcc-latest-ver
include debian/rules.gcc-flags
include debian/rules.gcc-lto

ifeq ($(with_lto),yes)
  LTO_FLAGS := -g -flto=1 -fuse-linker-plugin -ffat-lto-objects -flto-partition=none
  CFLAGS   := $(CFLAGS) $(LTO_FLAGS)
  CXXFLAGS := $(CXXFLAGS) $(LTO_FLAGS)
  LDFLAGS  := $(CXXFLAGS) $(LTO_FLAGS)
endif

# k2-bootstrap
data_dir    = usr/share/k2/bootstrap
preseed     = /usr/local/preseed
bundle      = /etc/ssl/certs/ca-certificates.crt
java_bundle = /etc/ssl/certs/java/cacerts

.NOTPARALLEL:

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build-arch:
	$(MAKE) all

override_dh_auto_build-indep:
	: # k2-bootstrap

	mkdir -p $(data_dir) ; \
	cp -t $(data_dir) $(bundle) $(java_bundle) ; \
	while [ -d $(preseed) ] ; do \
	    find $(preseed) -mindepth 1 -printf . -quit | grep -Fq . || break ; \
	    mkdir -p $(data_dir)/preseed ; \
	    tar -C $(preseed) -cf - . | tar -C $(data_dir)/preseed -xf - ; \
	break ; done ; \
	rm -rf $(data_dir)/preseed/pkg

override_dh_auto_install-indep:

override_dh_auto_install-arch:
	$(MAKE) install

override_dh_auto_test:

execute_before_dh_install:
	find $(CURDIR) -name .keep -type f -delete

override_dh_dwz:

include debian/rules.self-template
