#!/usr/bin/make -f

SHELL       :=/bin/sh
.SHELLFLAGS :=-ec

MAKEFLAGS += --no-print-directory

export DH_VERBOSE := 1

include /usr/share/dpkg/default.mk

include debian/rules.common-defs

export SOURCE_DATE_EPOCH

ifeq (,$(PYTHON_VERSION))
$(error PYTHON_VERSION is not set)
endif

PYTHON_MAJOR_VERSION = $(word 1,$(subst .,$(space),$(PYTHON_VERSION)))
PYTHON_MINOR_VERSION = $(word 2,$(subst .,$(space),$(PYTHON_VERSION)))
PYTHON_BASE_VERSION = $(PYTHON_MAJOR_VERSION).$(PYTHON_MINOR_VERSION)

.NOTPARALLEL:

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_install:

override_dh_auto_test:

override_dh_gencontrol:
	dh_gencontrol -- -v$(PYTHON_VERSION)-1.$(DEB_VERSION)

.PHONY: build
build:

# -- package templating - here goes dragons! --

_deb_control_templates = $(wildcard debian/*PYVER*)
_deb_rename =$(subst PYVER,$(PYTHON_BASE_VERSION),$(strip $(1)))

include debian/rules.self-template
