#!/usr/bin/make -f

SHELL       :=/bin/sh
.SHELLFLAGS :=-ec

MAKEFLAGS += --no-print-directory

export DH_VERBOSE := 1

include /usr/share/dpkg/default.mk

bundle      =etc/ssl/certs/ca-certificates.crt
java_bundle =etc/ssl/certs/java/cacerts

.NOTPARALLEL:

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_install:

override_dh_auto_test:

execute_before_dh_install:
	tar -C / -cf - $(bundle) $(java_bundle) | tar -xf -

.PHONY: build
build:
