Source: container-essentials
Section: metapackages
Priority: optional
Maintainer: Konstantin Demin <rockdrilla@gmail.com>
Build-Depends: debhelper-compat (= 13),
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/rockdrilla/debian-container
Vcs-Git: https://github.com/rockdrilla/debian-container.git
Vcs-Browser: https://github.com/rockdrilla/debian-container/tree/main/image/minbase/package/essentials

Package: container-essentials
Architecture: any
Pre-Depends: ${shlibs:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends},
         container-cleanup,
         container-common-tools,
         container-common-tools-bin,
         container-dev-tools,
         container-dpkg-filter,
         container-exe-filter,
         container-image-entrypoint,
         container-persistent-ca-bundle,
         container-persistent-ca-bundle-java,
Description: container - essentials (meta-package)
 This package installs all container-related packages.
